@media (min-width:320px) and (max-width:374px) {
.quote{
    margin-top: 0;
}
}
@media (min-width:375px) and (max-width:424px) {
    .quote {
            margin-top: 0;
        }
}

@media (min-width:425px) and (max-width:767px) {
    .quote {
            margin-top: 0;
        }
}

@media (min-width:768px) and (max-width:1023px) {
    .quote {
            margin-top: 0;
        }
}

 